// COLOR VARIABLES

$font-color: #071e44;

$color-primary: #327efc;
$color-primary-light: #5696ff;
$color-primary-dark: #0f5bd8;

// MEDIA QUERIES VARIABLES

$largest-scr: 75em;
$large-scr: 62.5em;
$medium-scr: 56.25em;
$small-scr: 50em;
$smallest-scr: 37.5em;

// MIXINS

// ANIMATIONS

.hidden {
    opacity: 0;
}

.move-up {
    animation-name: moveUp;
    animation-duration: 1s;


    @keyframes moveUp {
        0% {
            opacity: 0;
            transform: translateY(10rem);
        }
    
        80% {
            transform: translateY(-2rem);
        }
    
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width: $largest-scr) {
        font-size: 56.25%;
    }

    @media only screen and (max-width: $large-scr) {
        font-size: 50%;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $font-color;
}

.container {
    //min-height: 100vh;
    width: 100%;

    display: grid;
    grid-template-rows: 8rem calc(90vh - 8rem) repeat(3, min-content) 45vh 45vh repeat(4, min-content);
    grid-template-columns: [full-start] minmax(7rem, 1fr) [center-start] repeat(2, [col-start] minmax(min-content, 50rem) [col-end]) [center-end] minmax(7rem, 1fr) [full-end];

    @media only screen and (max-width: $small-scr) {
        grid-template-rows: 8rem calc(90vh - 8rem) repeat(4, min-content) 45vh 45vh repeat(4, min-content);
    }

    @media only screen and (max-width: $smallest-scr) {
        grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(2, [col-start] minmax(min-content, 50rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        background-image: linear-gradient(to bottom, rgba($color-primary, .8) 50vh, rgba($color-primary, 1) 90vh);
        clip-path: polygon(0 0, 100% 0, 100% 20vh, 40% 90vh, 20% 66%, 20% 100%, 0 100%);
        grid-row: 1 / -1;
        grid-column: 1 / -1;

        z-index: 1;
    }
}