.openings {

    grid-row: 2 / 3;
    grid-column: col-start 2 / center-end;
    z-index: 2;
    justify-self: center;
    align-self: center;

    margin-top: 15rem;
    padding: 8rem 5rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(black, .4);

    ul {
        list-style: none;
    }

    li {
        font-size: 2rem;
        margin-top: 3rem;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}