.registration {
    grid-column: center-start / center-end;
    grid-row: 8 / 9;
    padding: 8rem 5rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(black, .4);
    z-index: 2;
    margin: 10rem 0;

    &__heading {
        margin-bottom: 3rem;
    }

    p {
        font-size: 1.6rem;
        line-height: 2.5rem;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}