.resignation {
    grid-column: center-start / center-end;
    grid-row: 9 / 10;
    padding: 8rem 5rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(black, .4);
    z-index: 2;
    margin-bottom: 10rem;

    @media only screen and (max-width: $small-scr) {
        grid-row: 10 / 11;
    }

    @media only screen and (max-width: $smallest-scr) {
        margin-bottom: 6rem;
    }

    &__heading {
        margin-bottom: 3rem;
    }

    p {
        font-size: 1.6rem;
        line-height: 2.5rem;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}