.heading-primary,
.heading-secondary {
    color: #ffffff;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: .1rem;
}

.heading-primary {
    font-size: 6rem;
}

.heading-secondary {
    font-size: 4.5rem;
}

.heading-tertiary {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1rem;
}